* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.page {
  background-color: white;
  margin: auto;
  width: 700px;
  padding: 30px;
  /*text-align: center;*/
}

.game {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 30px;
}

.controls {
  margin-bottom: 10px;
  text-align: center;
}

.game td {
  border: 15px solid #BBADA0;
  /*border-radius: 10px;*/ /* XXX: Doesn't work due to border-collapse */
  width: 128px;
  height: 128px;
  text-align: center;
  font-size: 64px;
  font-family: sans-serif;
  font-weight: bold;
  color: #776E65;
}

.cell-type-empty {
  background-color: #CCC0B3;
}

.cell-type-occupied {
  background-color: #EEE4DA;
}

.game .cell-type-bignum {
  font-size: 48px;
}
